vms: # параметры виртуальных машин (можно иметь несколько)
  agent-ubuntu: # имя виртуальной машины
    cpu: 2      # количество vCPU
    ram: 4G     # объём оперативной памяти
    disk: 20G   # размер диска
    cloud-init: {} # здесь можно разместить стандартный конфиг cloud-init, но он не обязателен
mounts:
  - source: /host/path/project            # путь к исходной папке на хосте
    target: /home/ubuntu/project          # точка монтирования внутри ВМ; если не указана, будет /home/ubuntu/<имя_папки_source>
    backup: /host/backups/project         # каталог для бэкапов; если не указан, будет backups-<имя_папки> рядом с source
    interval: 5                           # интервал бэкапа в минутах; по умолчанию 5
    vm: agent-ubuntu # имя VM, если не указан - берётся первая VM из конфигурации
agents:
  qwen: # имя агента, можно добавить столько, сколько нужно
    type: qwen # тип агента: qwen (используется бинарник qwen), codex, codex-glibc (бинарник codex-glibc) или claude-code
    env: # произвольные переменные окружения, которые будут переданы агенту
      OPENAI_API_KEY: "my_local_key"
      OPENAI_BASE_URL: "https://127.0.0.1:11556/v1"
      OPENAI_MODEL: "Qwen/Qwen3-Coder-30B-A3B-Instruct-FP8"
    socks5_proxy: 10.0.0.2:1234 # если нужно, трафик агента пойдет через этот socks5-прокси посредством proxychains
    vm: qwen-ubuntu # ВМ по умолчанию для запуска агента; если не указана, используется ВМ из монтирования или первая в списке
