---
- name: Prepare VM inventory
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: Register Multipass VM
      ansible.builtin.add_host:
        name: "{{ vm_name }}"
        ansible_host: "{{ vm_name }}"
        ansible_connection: theko2fi.multipass.multipass
        ansible_python_interpreter: /usr/bin/python3

- name: Install base packages in VM
  hosts: "{{ vm_name }}"
  become: true
  tasks:
    - name: Ensure apt cache is up to date
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600

    - name: Install base packages
      ansible.builtin.apt:
        name:
          - git
          - proxychains4
          - ripgrep
        state: present
